/*col-lg-12 col-md-12 col-sm-12 col-xs-12*/
/*GENERAL*/
.line{
    border-bottom: .1em solid lightgray;
}
/*TEXT*/
.blue{
    color: #7CB0FF;
}
#servicios h3{
    color:#718DA8;
}
/*BACKGROUNDS*/
header{
    background-image: url("../image/large.jpg");
}
.bgbluef{
    background-color: #066FBE;
}
bgblack{
    background-color: black;
}
/*HEADER*/
/*SECTIONS*/
#user, #computer{
    width: 100%;
}
.separador{
    margin-top: -4em;
    width: auto;
}
