/*col-lg-12 col-md-12 col-sm-12 col-xs-12*/
/*GENERAL*/
/*TEXT*/
.blue{
    color: #7CB0FF;
}
#servicios h3{
    color:#718DA8;
}
/*BACKGROUNDS*/
header{
    background-image: url("../image/large.jpg");
}
.bgbluef{
    background-color: #066FBE;
}
bgblack{
    background-color: black;
}
/*HEADER*/
/*SECTIONS*/
#servicios img{
    
}
